In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
lob = pd.read_table("UoB_Set01_2024-06-24LOBs.txt")
tape = pd.read_csv("UoB_Set01_2024-06-24tapes.csv",
                  names=['Timestamp', 'Price', 'Quantity'])

In [119]:
lob[5:10]

,"[0.000, Exch0, [['bid', []], ['ask', []]]]",Timestamps,Asks,bids
5,"[3.999, Exch0, [['bid', [[1, 8]]], ['ask', [[9...",3.999,"[[92, 2], [93, 1], [95, 5], [96, 4]]",[]
6,"[4.030, Exch0, [['bid', [[20, 2], [1, 8]]], ['...",4.030,"[[92, 2], [93, 1], [95, 5], [96, 4]]","[[20, 2], [1, 8]]"
7,"[4.309, Exch0, [['bid', [[20, 2], [1, 8]]], ['...",4.309,"[[92, 2], [93, 1], [95, 5], [96, 4], [166, 4]]","[[20, 2], [1, 8]]"
8,"[4.619, Exch0, [['bid', [[20, 2], [1, 8]]], ['...",4.619,"[[92, 1], [93, 1], [95, 5], [96, 4], [166, 4]]","[[20, 2], [1, 8]]"
9,"[4.681, Exch0, [['bid', [[27, 2], [1, 8]]], ['...",4.681,"[[92, 1], [93, 1], [95, 5], [96, 4], [166, 4]]","[[27, 2], [1, 8]]"

In [5]:
pattern = r'(\d+.+?),'
timestamps = lob.iloc[:,0].str.extract(pattern)
lob['Timestamps'] = timestamps

In [137]:
pattern1 = r"'ask', (\[\[(?:\d+,\s*\d+)\]\])"
pattern2 = r"'ask', (\[(\[(?:\d+,\s*)+\d+\], )+\[(?:\d+,\s*)+\d+\]\])"
asks1 = lob.iloc[:,0].str.findall(pattern1)
asks2 = lob.iloc[:,0].str.findall(pattern2)

In [138]:
ask_list = []
for ask in asks2:
    if len(ask) == 0:
        ask_list.append('[]')
    else:
        ask_list.append(ask[0][0])

In [139]:
for i in range(len(ask_list)):
    if ask_list[i] == '[]':
        if asks1[i] != []:
            ask_list[i] = asks1[i][0]

In [140]:
lob['Asks'] = ask_list

In [132]:
pattern1 = r"'bid', (\[\[(?:\d+,\s*\d+)\]\])"
pattern2 = r"'bid', (\[(\[(?:\d+,\s*)+\d+\], )+\[(?:\d+,\s*)+\d+\]\])"
bids1 = lob.iloc[:,0].str.findall(pattern1)
bids2 = lob.iloc[:,0].str.findall(pattern2)

In [134]:
bid_list = []
for bid in bids2:
    if len(bid) == 0:
        bid_list.append('[]')
    else:
        bid_list.append(bid[0][0])

In [135]:
for i in range(len(bid_list)):
    if bid_list[i] == '[]':
        if bids1[i] != []:
            bid_list[i] = bids1[i][0]

In [142]:
lob['bids'] = bid_list

In [143]:
lob = lob.drop(columns="[0.000, Exch0, [['bid', []], ['ask', []]]]")

In [144]:
new_row = pd.DataFrame({'Timestamps':'0.000', 'bids':'[]', 'Asks':'[]'}, index=[0])
lob = pd.concat([new_row,lob.loc[:]]).reset_index(drop=True)
lob

,Timestamps,bids,Asks
0,0.000,[],[]
1,1.271,[],"[[92, 4]]"
2,1.364,[],"[[92, 2]]"
3,2.232,[],"[[92, 2], [93, 1]]"
4,2.542,[],"[[92, 2], [93, 1], [96, 4]]"
...,...,...,...
324236,30599.604,"[[109, 2], [108, 3], [106, 2], [105, 7], [104,...","[[120, 5], [121, 3], [123, 4], [125, 3], [255,..."
324237,30599.728,"[[109, 2], [108, 3], [106, 2], [105, 7], [104,...","[[120, 5], [121, 3], [123, 4], [125, 3], [255,..."
324238,30599.790,"[[109, 2], [108, 3], [106, 2], [105, 7], [104,...","[[120, 5], [121, 3], [123, 4], [125, 3], [200,..."
324239,30599.821,"[[108, 1], [106, 2], [105, 7], [104, 4], [103,...","[[120, 5], [121, 3], [123, 4], [125, 3], [200,..."
324240,30599.914,"[[108, 1], [106, 2], [105, 7], [104, 4], [103,...","[[120, 5], [121, 3], [123, 4], [125, 3], [452,..."

In [148]:
lob.iloc[6,:].Asks

'[[92, 2], [93, 1], [95, 5], [96, 4]]'